body {
	background-color: lightgray
}


.jumbotron {
	background-color: navy;
	color: white;
}

h1 {
	font-weight: bold;
	text-align: center;
}

h5 {
	text-align: center;

}

.card-header {
	background-color: navy;
	color: white;
}

img {
	border: 3px solid white;
}

.btn.btn-primary {
	border: 1.25px solid darkgreen;
}

